@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}



.text-color{
 color: #FA8B02;
}

.bg-color{
  background-color: #FA8B02;
}